<manifest package="com.dunn.logger"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

<!--    Android10（API 29）getExternalStorageDirectory没权限，暂时使用28-->
<!--    如果logger升级到Android10，那么需要增加requestLegacyExternalStorage-->
<!--    <application-->
<!--        android:requestLegacyExternalStorage="true">-->
<!--    </application>-->
</manifest>
